#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/{
    keymap {   
        default_layer {
            bindings = <
                &kp ESC    &kp N1    &kp N2    &kp N3    &kp N4 &kp N5
                &kp TAB    &kp q     &kp w     &kp e     &kp r  &kp t
                &kp CAPS   &kp a     &kp s     &kp d     &kp f  &kp g
                &kp LSHIFT &kp z     &kp x     &kp c     &kp v  &kp b
                &kp LCTRL  &kp q     &kp q     &kp q     &kp q  &kp q
            >;
        };
    };
};